* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url(images/CDC-David-Indv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Permanent Marker', cursive;
    background-position-y: -8rem;
}

.footDiv {
    background: rgb(235, 230, 230);
    mix-blend-mode: screen;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr auto auto auto;
}

h1 {
    font-size: 4.5em;
    color: black;
    justify-self: start;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
}

h3 {
    font-size:2rem;
    margin: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows:1fr auto;
}

footer {
    text-align: center;
    color:black;
    padding-bottom: 1rem;
}


@media screen and (max-width:1024px) {

    .wrapper {
        width:1024px;
    }

    nav ul {
        padding-left: 0em;
        padding-right: 3em;
    }
 
    .container {
        padding-bottom:15px;
    }
    
    .container-contact {
        width:800px;
        margin: auto;
    }

    .form-group {
        width:700px;
        margin: auto;
    }

    .content {
        min-height: calc(60vh - 80px);
    }

    footer {
        display: flex;
        justify-content: center;
    }
}

/* These rule take effect when the browser's width is either 960 or less. */

@media screen and (max-width:960px) {

    .wrapper {
        width:960px;
    }
}

/* These rule take effect when the browser's width is either 768 or less. */

@media screen and (max-width:768px) {

    .wrapper {
        width:768px;
    }
    
    .container {
        padding-bottom:15px;
    }

    .container-contact {
        width:650px;
        margin:auto;
    }

    .form-group {
        width:590px;
        margin: auto;
    }

    footer {
        display: flex;
        justify-content: center;
    }
}

/* These rule take effect when the browser's width is either 640 or less. */

@media screen and (max-width:640px) {

    .wrapper {
        width:500px;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        padding: 0em;
    }

    ul {
        padding-left: 0em;
    }

    .container-contact {
        width:450px;
        margin: 0px, 25px;
        background-color: maroon
    }

    .gold-contact {
        color: gold;
    }

    .form-group {
        width:450px;
        margin: auto;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    
} 
