* {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-image: url(images/david-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footDiv {
    background: rgb(235, 230, 230);
    mix-blend-mode: screen;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-columns: 1fr auto auto;
    grid-template-columns: 1fr auto auto;
    -webkit-animation-name: loadFooter;
            animation-name: loadFooter;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
}

@-webkit-keyframes loadFooter {
    0% { 
        opacity: 0%;
        -webkit-filter: blur(5px);
                filter: blur(5px);
    }
    20% { 
        opacity: 0%;
    }
    40% { 
        opacity: 100%;
        -webkit-filter: blur(3px);
                filter: blur(3px);
    }
    80% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }

}

@keyframes loadFooter {
    0% { 
        opacity: 0%;
        -webkit-filter: blur(5px);
                filter: blur(5px);
    }
    20% { 
        opacity: 0%;
    }
    40% { 
        opacity: 100%;
        -webkit-filter: blur(3px);
                filter: blur(3px);
    }
    80% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
    }

}

h1 {
    font-size: 4.5em;
    color: black;
    -ms-grid-column-align: start;
        justify-self: start;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
}

h3 {
    font-size:2rem;
    margin: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-rows:1fr auto;
    grid-template-rows:1fr auto;
}

footer {
    text-align: center;
    color:black;
    padding-bottom: 1rem;
}


@media screen and (max-width:1024px) {

    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.6rem;
        margin: 1rem;
    }

    body {
        background-image: url(images/david-ipad.jpg);
    }

}

@media screen and (max-width:768px) {

    h3 {
        font-size: 1.4rem;
    }

    body {
        background-image: url(images/david-mobile.jpg);
    }

}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2em;
        padding-left: 0rem;
    }

    h3 {
        font-size: 1.1rem;
        margin: .5rem;
    }

    .footDiv {
        padding: 1rem .5rem;
    }
}