body {
    background-color:black;
}

.navbar {
    font-family:'Permanent Marker', cursive;
    color:black;
    background-color: white;
}

nav ul li {
    font-family:'Permanent Marker', cursive;
    color: black;
    list-style-type:none;
    padding-left:.5em;
    float: right;
}

.btn {
    border-color:black;
    color:black;
}

.content {
    min-height: calc(80vh - 80px);
    background-color: white;
    color: white;
}

h1 {
    color: black;
    font-family:'Permanent Marker', cursive;
}

.card {
    background-color:black;
    border: none;
    margin: 3px;
}

.card-img-top {
    padding-top: 12px;
}

.card-title {
    font-family:'Permanent Marker', cursive;
}

h4 {
    margin-top: 12px;
}

#resume {
    color:black;
    font-style: italic;
    font-weight: bold;
}

.gold-border {
    border: 4px solid black;
    width: 100%;
    max-height: 650px;
}

.center {
    text-align: center;
}

.gold {
    font-size: 18px;
    color: black;
}

.gold-contact {
    color: black;
}

.marker {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}

.form-control {
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.footer {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    height: 50 px;
    background-color:black;
    color: white;
    text-align: center;    
}

.footer ul li {
    list-style-type: none;
}

a {
    color:white;
}

.row {
    padding: 10px;
}

/* These rule take effect when the browser's width is either 1024 or less. */

@media screen and (max-width:1024px) {

    .wrapper {
        width:1024px;
    }

    nav ul {
        padding-left: 0em;
        padding-right: 3em;
    }
 
    .container {
        padding-bottom:15px;
    }
    
    .container-contact {
        width:800px;
        margin: auto;
    }

    .form-group {
        width:700px;
        margin: auto;
    }

    .content {
        min-height: calc(60vh - 80px);
    }

    footer {
        display: flex;
        justify-content: center;
    }
}

/* These rule take effect when the browser's width is either 960 or less. */

@media screen and (max-width:960px) {

    .wrapper {
        width:960px;
    }
}

/* These rule take effect when the browser's width is either 768 or less. */

@media screen and (max-width:768px) {

    .wrapper {
        width:768px;
    }
    
    .container {
        padding-bottom:15px;
    }

    .container-contact {
        width:650px;
        margin:auto;
    }

    .form-group {
        width:590px;
        margin: auto;
    }

    footer {
        display: flex;
        justify-content: center;
    }
}

/* These rule take effect when the browser's width is either 640 or less. */

@media screen and (max-width:640px) {

    .wrapper {
        width:500px;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        padding: 0em;
    }

    ul {
        padding-left: 0em;
    }

    .container-contact {
        width:450px;
        margin: 0px, 25px;
        background-color: black
    }

    .gold-contact {
        color: white;
    }

    .form-group {
        width:450px;
        margin: auto;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    
}
